body{
    background-color: rgb(10, 110, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
   }
   .container{
    background-color: aliceblue;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
   } 
   .pye{
    padding-bottom: 40px;
    padding-left: 20px;
   }
   .hey{
    width: 350px;
    height: 50px;
    border: rgb(46, 155, 228) solid;
    border-radius: 10px;
   }
   .adam{
    width: 350px;
    height: 70px;
    border: solid rgb(46, 155, 228);
    border-radius: 10PX;
    

   }
   .buttom{
    width: 350px;
    height: 50px;
    background-color: rgb(46, 155, 228);
    margin-left: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
   }
   h1{
    padding-left: 20px;
   }
   .hey:hover , .adam:hover{
    border-color: aqua;
   }

   .buttom:hover{
    background-color: aqua;
   }
   
